//<-------------------- ABOUT ------------------>

@mixin about ($background-image) {
    display: flex;
    height: 100vh;
    align-items: center;
    background-image: $background-image;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, .7);
    background-blend-mode: soft-light;
    padding: 10rem;
    margin: 0 auto;
    text-align: center;

    @if $background-image==url(../assets/fondo_img/fondo_e.jpg) {
        color: map-get($colores, primary-color);
    }

    @else {
        color: map-get($colores, color-texto-1);
    }
}

@mixin border-img () {
    border: 2px solid map-get($colores, primary-color);
    border-radius: 5px;
}

.contenedor__about {
    @include about(url(../assets/fondo_img/fondo_e.jpg));

    .container--primary {
        background-color: map-get($colores, primary-color);
    }

    .contenedor__about__img {
        @include border-img()
    }
}

.contenedor__about__carrusel {
    height: 100vh;
    text-align: center
}

.contenedor__about__end {
    @include about(url(../assets/fondo_img/fondo_e.jpg));

    .contenedor__about__img {
        @include border-img()
    }
}

.frase {
    height: 75vh;
    text-align: center;

    blockquote {

        p {
            font-size: 2.3rem;
            font-style: italic;
            font-weight: bolder;
            animation: fluido 10s ease-in-out infinite;
            background: map-get($colores, gradient-color-h3);
            background-size: 300%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;


            @keyframes fluido {
                0% {
                    background-position: 0 50%
                }

                50% {
                    background-position: 100% 50%
                }

                100% {
                    background-position: 0 50%
                }
            }
        }
    }

}