//Para background-image
@mixin back-img {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: map-get($colores, color-blend-mode);
}

//Para los links del nav:hover
@mixin nav-hover {
    font-weight: bold;
    background: map-get($colores, gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

//Color del texto en nav
@mixin color-white {
    color: map-get($colores, primary-color-light);
}

//Estilos del texto en nav
@mixin nav-link {
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 400;
}

@mixin font-weight ($font-weight) {
    font-weight: $font-weight;
}


.hero-index {
    @include back-img;
    width: 100%;
    background-image: url(../assets/fondo_img/fondo_l.jpg);

    .navbar-nav {
        .nav-item--white {
            @include color-white;
        }

        .nav-link {
            @include nav-link;

            &:hover {
                @include nav-hover;
            }
        }
    }

    .hero {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            @include color-white;
            @include font-weight(300);

            .hero__textos--gradient {
                @include font-weight(bold);
                animation: fluido 10s ease-in-out infinite;
                background: map-get($colores, gradient-color);
                background-size: 300%;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                @keyframes fluido {
                    0% {
                        background-position: 0 50%
                    }

                    50% {
                        background-position: 100% 50%
                    }

                    100% {
                        background-position: 0 50%
                    }
                }
            }

        }

        p {
            @include font-weight(200);
            @include color-white();

            .hero__textos--bold {
                @include font-weight(500);
            }
        }

    }

}

//<------------- Header para el resto de la paginas -------------->

header {
    .navbar-nav {
        .nav-item {
            .nav-link {
                @include nav-link;

                &:hover {
                    @include nav-hover;
                }
            }
        }
    }
}