//<--------------- Index ---------------->

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

@mixin height-index ($height) {
    height: $height;
}

@mixin display ($display) {
    display: $display;
}

@mixin gradient-h3 ($font-weight, $animation, $background, $background-size, $webkit, $clip, $webkit-text) {
    font-weight: $font-weight;
    animation: $animation;
    background: $background;
    background-size: $background-size;
    -webkit-background-clip: $webkit;
    background-clip: $clip;
    -webkit-text-fill-color: $webkit-text;

    @if ($clip=='text') {

        @keyframes fluido {
            0% {
                background-position: 0 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0 50%
            }
        }
    }
}

@mixin animation ($transform, $transition) {
    transform: $transform;
    transition: $transition;
}

@mixin borders ($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}



// <-------------- 1ra SECTION ------------> 

.container-introduccion {
    @include height-index(90vh);
}

//<-------------- 2da SECTION ------------->

.container {

    .box {
        @include height-index(70vh);

        .box__titulo {
            color: map-get($colores, secondary-color);
            text-align: center;

            h3 {
                @include gradient-h3(400, fluido 10s ease-in-out infinite, map-get($colores, gradient-color-h3),
                    300%, text, text, transparent);
            }
        }

        .box__imagen {
            @include animation(translateY(5px), all 00.5s);
            position: relative;
            max-width: 336px;
            margin: auto;

            &:hover {
                @include animation(translateY(0px), all ease-out 0.5s);
                @include borders(none, 10px);
                box-shadow: -1px -5px 11px 6px rgba(164, 148, 148, 0.33);
                -webkit-box-shadow: -1px -5px 11px 6px rgba(164, 148, 148, 0.33);
                -moz-box-shadow: -1px -5px 11px 6px rgba(164, 148, 148, 0.33);
            }

            .box__img {
                @include sizes(100%, 220px);
                @include display(block);
                @include borders(none, 10px);
            }

            .box__descripcion {
                @include sizes (100%, 100%);
                @include display (flex);
                @include borders(none, 10px);
                position: absolute;
                font-size: 1rem;
                color: map-get($colores, primary-color);
                padding: 10px;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, .7);
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                opacity: 0;
                transition: opacity 0.30s;

                &:hover {
                    opacity: 1;
                    transition: 0.30s;
                }

                button {
                    @include borders(none, 5px);

                    .btn-grad--modif {
                        padding: 5px 10px;
                        background-color: map-get($colores, gradient-color);
                    }

                }
            }

        }

    }
}


//<--------------3ra Section -------------->

.container-fluid--form {
    @include height-index(90vh);
    background-image: url(../assets/fondo_img/fondo_g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(214, 213, 213, 0.815);
}


//<-------------- 4ta Section ---------------->

.container-fluid--opinion {
    @include height-index(100vh);


    .container {

        .img-testimonio {
            @include borders(4px solid #ffa052c7, 50%);
            margin: 1rem auto;
        }

        h3 {
            @include gradient-h3(400, fluido 10s ease-in-out infinite,
                map-get($colores, gradient-color-h3), 300%, text, text, transparent);
        }
    }
}