@media only screen and (min-width:360px) and (max-width:767px) {

    h1 {
        font-size: map-get($headings-media, h1);
    }

    h2 {
        font-size: map-get($headings-media, h2);
    }

    h3 {
        font-size: map-get($headings-media, h3);
    }

    h4 {
        font-size: map-get($headings-media, h4);
    }

    p {
        font-size: map-get($headings-media, p);
    }

    /*********************************************************************************/
    //<------------- Index ---------------------->

    .hero-index {
        .hero {
            height: 80vh;
        }
    }

    .container-introduccion {
        height: 100vh;

        blockquote:first-child {
            text-align: center;

            .lead {
                font-size: 1.1rem;
            }
        }

        figcaption:last-child {
            text-align: center;
        }
    }

    .container {
        .col {
            height: 50vh;

            .box {
                height: 50vh;
            }
        }
    }

    .container-fluid--opinion {
        height: 100vh;
    }

    /***********************************************************************************************/
    //<------------ Galeria ------------------->

    .container-galeria {
        @include grid((repeat(2, 1fr)), 12.5rem, 0.3rem);
        margin: 1rem;

        .container-galeria__item {
            &:nth-child(1) {
                grid-column-start: span 1;
            }

            &:nth-child(2) {
                grid-column-start: span 1;
            }

            &:nth-child(8) {
                grid-column-start: span 2;
                grid-row-start: span 2;
            }

            &:nth-child(9) {
                grid-column-start: span 1;
            }

            &:nth-child(10) {
                grid-column-start: span 1;
            }

            &:nth-child(11) {
                grid-column-start: span 1;
            }

            &:nth-child(17) {
                grid-row-start: span 3;
            }

            &:nth-child(25) {
                grid-row-start: span 2;
            }
        }
    }

    //<------------------ Acrilico - Oleo - Puntillismo ---------------------->

    .title-paint{
        margin: 2rem;
    }

    .container-cards {
        padding: 0 1rem;

        .card {
            margin: 0 0.5rem;
        }
    }

    .container-form {
        .form__header {
            h2 {
                font-size: 1.9rem;
            }

            p {
                font-size: 1rem;
                padding-bottom: 0;
            }
        }

        form {
            @include form (80%, 1rem, 2px);
        }
    }

    /*********************************************************************************/
    //<---------------- About ---------------------->

    .contenedor__about {
        padding: 0 4rem;

        .img-fluid {
            min-width: 250px;
        }

        .blockquote:last-child {

            .lead {
                font-size: 1rem;
            }
        }
    }

    .frase {
        blockquote {
            p {
                font-size: 2rem;
                padding: 1rem;
            }
        }
    }

    /***********************************************************************************/
    //<-------------------- Contacto --------------------->

    .container-contacto {
        padding: 2rem 0;

        .form__contacto {
            @include form (80%, 5px 10px, 7px);
            margin-bottom: 1rem;
        }
    }

    /************************************************************************************/
    //<-------------- Fomulario Pedidos --------------------->
    .container-pedidos {
        padding: 2rem 0;

        form {
            @include form (80%, 10px 20px, 7px)
        }
    }

    //<--------------------- Error 404 ------------------------>

    .body-error {

        .container-error {

            .informacion {
                h1 {
                    font-size: map-get($headings-media, h1);
                }

                h2 {
                    font-size: map-get($headings-media, h2);
                }
            }

            .informacion-imagen {
                img {
                    width: 300px;
                }
                p{
                    padding-bottom: 1rem;
                }
            }
        }
    }

    //<--------------- Footer ----------------------->

    footer {
        .footer-redes {
            @include grid (repeat(1, 1fr), auto, 0.5rem);
            text-align: center;
            height: 60vh;

            .newsletter {
                @include flex (wrap, center, center);
            }
        }

        .footer-contacto {
            flex-direction: column;
            height: 30vh;
        }
    }
}

//******************************************************************************

@media only screen and (min-width:768px) and (max-width:1019px) {
    .container-galeria {
        @include grid((repeat(3, 1fr)), 12.5rem, 0.3rem);

        .container-galeria__item {

            &:nth-child(9) {
                grid-row-start: span 2;
            }

            &:nth-child(10) {
                grid-row-start: span 2;
            }

            &:nth-child(11) {
                grid-row-start: span 2;
            }

            &:nth-child(12) {
                grid-row-start: span 3;
            }

            &:nth-child(17) {
                grid-row-start: span 3;
            }

            &:nth-child(23) {
                grid-row-start: span 1;
            }

            &:nth-child(25) {
                grid-column-start: span 2;
                grid-row-start: span 2;
            }

            &:nth-child(26) {
                grid-row-start: span 3;
            }

            &:nth-child(27) {
                grid-row-start: span 2;
            }

            &:nth-child(28) {
                grid-row-start: span 2;
                grid-column-start: span 1;
            }
        }
    }
}