<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="error, pagina no encontrada, volver al home">
    <meta name="description" content="Pagina 404">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/426a288b9a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Oops! Error 404</title>
</head>

<body class="body-error">
    <div class="container-error">
        <section class="informacion">
            <h1>Oops!</h1>
            <h2>Esta página no existe... <br>
                como el color <a target="_blank"
                    href="https://www.youtube.com/watch?v=Nb1VOQRs-Vs&ab_channel=diegotorresVEVO"> <span
                        class="verde">esperanza :(</span> </a></h2>
            <p>Pero podes volver al inicio y buscar uno que exista<span class="point-modif">.</span></p>
            <a class="btn-grad--error" href="../index.html"> Volver al Inicio</a>
        </section>
        <section class="informacion-imagen">
            <img src="../assets/fondo_img/error_404.png" alt="imagen de una mujer pintando">
            <p>*Si ves este mensaje, hace hover en esperanza... y llevate una sorpresa*</p>
        </section>
    </div>
</body>

</html>