<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sobre mis cuadros, experiencia, trayectoria, conocimiento de arte">
    <meta name="description" content="Sobre Mi. Te invito a conocer mi historia.">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <!-- <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <title>About Me</title>
</head>

<body>
    <header class="hero">
        <div class="container-fluid container-fluid--transparent px-0">
            <nav
                class="navbar navbar-expand-md navbar-light bg-transparent px-0 py-0 border border-top-0 border-start-0 border-end-0">
                <div class="container-fluid px-0">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/logo_2.png" alt="Ana Teran Cuadros">
                    </a>
                    <button type="button" class="navbar-toggler mx-2">
                        <span class="navbar-toggler-icon" data-bs-toggle="collapse"
                            data-bs-target="#menuNavegacion"></span>
                    </button>
                    <div id="menuNavegacion" class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="../index.html" class="nav-link text-dark mx-2">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="./galeria.html" class="nav-link text-dark mx-2">Galeria</a>
                            </li>
                            <li class="nav-item">
                                <a href="./about.html" class="nav-link text-dark mx-2">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="./contacto.html" class="nav-link text-dark mx-2">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="contenedor__about">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 my-3 px-3 text-center" data-aos="fade-up">
                    <img src="../assets/about_img/about_11.jpg" class="img-fluid contenedor__about__img"
                        alt="Foto de Ana Teran">
                </div>
                <div class="col-12 col-md-6" data-aos="fade-up">
                    <figure>
                        <blockquote class="blockquote">
                            <h2>Ana María Terán</h2>
                            <p class="lead lead--about">
                                Este es un pequeño recorrido por mi vida. Comence a pintar en el año 2009,
                                mientras buscaba una manera de expresarme a traves de mis obras.
                                Mi primer pintura fue "Morena en la playa", la cual trajo muchos desafios
                                utilizando acrílico.
                                Con el tiempo y adquiriendo nuevos estilos, el óleo se convirtio en la pintura
                                que más utilice y la que más me gusta implementar al momento de pintar nuevas
                                obras.
                            </p>
                        </blockquote>
                    </figure>
                </div>
            </div>
        </div>
        <div class="container-fluid contenedor__about__carrusel d-flex">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 px-5">
                    <figure>
                        <blockquote class="blockquote" data-aos="fade-up">
                            <p class="lead--about">
                                No solo pinto sobre amplios lienzos, tambien me gusta decorar objetos del día a día
                                utilizando el
                                puntillismo, aplicado con esponjas, espátulas, pinceles, colocar glitter y más! Para
                                plasmar
                                el arte podemos utilizar más de lo que uno esta acostumbrado a ver, y eso lo vuelve aún
                                más maravilloso.
                            </p>
                        </blockquote>
                    </figure>
                </div>
                <div class="col col-lg-6 px-5">
                    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel" data-aos="fade-up">
                        <div class="carousel-inner">
                            <div class="carousel-item active carousel-item--img">
                                <img src="../assets/about_img/about_1.png" class="d-block w-100"
                                    alt="Ana pintando un paisaje ">
                            </div>
                            <div class="carousel-item carousel-item--img">
                                <img src="../assets/about_img/about_4.png" class="d-block w-100"
                                    alt="Ana pintando una mujer">
                            </div>
                            <div class="carousel-item carousel-item--img">
                                <img src="../assets/about_img/about_5.png" class="d-block w-100"
                                    alt="Ana con un arte abstracto">
                            </div>
                            <div class="carousel-item carousel-item--img">
                                <img src="../assets/about_img/about_6.png" class="d-block w-100"
                                    alt="Ana con su pintura">
                            </div>
                            <div class="carousel-item carousel-item--img">
                                <img src="../assets//about_img/about_7.png" class="d-block w-100"
                                    alt="cuadro de atardecer">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid contenedor__about">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 my-3 px-3 text-center" data-aos="fade-up">
                    <img src="../assets/about_img/about_2.jpg" class="img-fluid contenedor__about__img"
                        alt="Foto de Ana Teran">
                </div>
                <div class="col-12 col-md-6" data-aos="fade-up">
                    <figure>
                        <blockquote class="blockquote">
                            <h2>En la actualidad...</h2>
                            <p class="lead lead--about">
                                Asisto a taller de arte para seguir especializandome día a día, siempre hay nuevas
                                técnicas
                                por aprender y otras por mejorar.
                                En la Ciudad de Buenos Aires podemos encontrar gran variedad de museos y muestras de
                                arte, por
                                lo que es una constante aventura...
                            </p>
                        </blockquote>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-12 frase d-flex align-items-center justify-content-center" data-aos="fade-up">
            <figure>
                <blockquote class="blockquote">
                    <p class="lead">
                        <i class='bx bxs-quote-alt-left'></i> La belleza perece en la vida, pero es inmortal en el
                        arte... <i class='bx bxs-quote-alt-right'></i>
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title" class="h5 fw-bold fs-5 text-dark text">Leonardo Da Vinci.</cite>
                </figcaption>
            </figure>
        </div>
    </main>


    <footer class="footer">
        <div class="contenedorFooter">
            <section class="logo" data-aos="zoom-in">
                <img src="../assets/logo_2.png" alt="Ana Teran Cuadros">
            </section>
            <section class="newsletter" data-aos="zoom-in">
                <h3>Suscribite a nuestro newsletter</h3>
                <form>
                    <input type="text" class="newsletterInput" placeholder="Ingresa tu mail">
                    <input type="submit" class="newsletterSubmit" value="Suscribir">
                </form>
                <div class="socialMedia">
                    <p>Síguenos en:</p>
                    <a target="_blank" href="https://www.facebook.com/anamaria.teran.18"> <i
                            class='socialIcono bx bxl-facebook-circle'></i></a>
                    <a target="_blank" href="https://www.instagram.com/pinturasanushka/?hl=es-la"> <i
                            class='socialIcono bx bxl-instagram-alt'></i></a>
                    <i class='socialIcono bx bxl-pinterest'></i>
                </div>
            </section>
        </div>
        <div class="contact">
            <div class="itemContact">
                <i class='bx bx-copyright contactIcono'></i>
                <p class="contactoTitulo">Ana Teran Cuadros</p>
            </div>
            <div class="itemContact">
                <i class='bx bx-mail-send contactIcono'></i><br>
                <a class="contactoTitulo"
                    href="mailto:anitamariateran@gmail.com?subject=Contacto%20a%20trav%C3%A9s%20de%20la%20pagina">anitamariateran@gmail.com</a>
            </div>
            <div class="itemContact">
                <i class='bx bxl-whatsapp contactIcono'></i> <br>
                <a class="contactoTitulo" target="_blank" href="https://wa.me/5491163536709">+54 9 11 6353-6709</a>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 1000
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

</body>

</html>