<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="oleo, acrilico, puntillismo, cuadros al oleo, cuadros en acrilico, tecnica puntillismo">
    <meta name="description" content="Coloridos cuadros para decorar tu casa o donde quieras!">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/426a288b9a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Galeria</title>
</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-md navbar-light bg-transparent px-0 py-0 border border-top-0 border-start-0 border-end-0">
            <div class="container-fluid px-0">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/logo_2.png" alt="Ana Teran Cuadros" width="250" height="78">
                </a>
                <button type="button" class="navbar-toggler mx-2">
                    <span class="navbar-toggler-icon" data-bs-toggle="collapse" data-bs-target="#menuNavegacion"></span>
                </button>
                <div id="menuNavegacion" class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link text-dark mx-2">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="./galeria.html" class="nav-link text-dark mx-2">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a href="./about.html" class="nav-link text-dark mx-2">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="./contacto.html" class="nav-link text-dark mx-2">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="container container-link mx-auto">
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../views/galeria.html">Todos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link second" href="../views/galeria/acrilico.html">Acrílico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link second" href="../views/galeria/oleo.html">Óleo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link second" href="../views/galeria/puntillismo.html">Puntillismo</a>
                    </li>
                </ul>
            </div>

            <div class="container-galeria">
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_13.jpeg" alt="pintura pies de bailarina" class="item-img">


                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_15.jpeg" alt="pintura de un atardecer" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_16.jpeg" alt="pintura de una mujer" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_17.jpeg" alt="pintura de una mujer posando" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_18.jpeg" alt="pintura de pajaros" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="..//assets/oleo_img/cuadro_19.JPG" alt="pintura de una calle" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_17.jpg" alt="pintura de caballos" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_20.jpeg" alt="pintura de patos volando" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_5.jpg" alt="pintura de una paisaje" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_6.jpg" alt="pintura de una lago" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_8.jpeg" alt="pintura de el principito" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_9.jpeg" alt="pintura de una mujer africana" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_1.jpg" alt="cuadro de flores" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_10.jpg" alt="cuadro de arte abstracto" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_11.jpg" alt="cuadro de flores" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_12.jpg" alt="pintura de una flor" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_14.jpeg" alt="pintura de una hada" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_3.jpg" alt="pintura de flores" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_4.jpg" alt="pintura de una mujer de espaldas"
                        class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_7.jpg" alt="pintura de flores" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/puntillismo_img/pt_1.jpeg" alt="tortuga pintada en puntillismo"
                        class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/puntillismo_img/pt_2.jpeg" alt="caja pintada en puntillismo" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/puntillismo_img/pt_3.jpg" alt="arte en puntos" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/puntillismo_img/pt_4.jpg" alt="mandala en puntillismo" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_13.jpg" alt="pintura de un duraznero" class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_15.jpg" alt="cuadro de una mujer en la playa"
                        class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/acrilico_img/cuadro_16.jpg" alt="pintura de una mujer vendiendo aji"
                        class="item-img">

                </div>
                <div class="container-galeria__item">
                    <img src="../assets/oleo_img/cuadro_2.jpg" alt="pintura de un hogar" class="item-img">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer-redes">
            <div class="logo">
                <img src="../assets/logo_2.png" alt="Ana Teran Cuadros">
            </div>
            <div class="newsletter">
                <h3>Suscribite a nuestro newsletter</h3>
                <form>
                    <input type="text" class="newsletter__input" placeholder="Ingresa tu mail">
                    <input type="submit" class="btn-grad" value="Suscribir">
                </form>
                <div class="newsletter__redes">
                    <p>Síguenos en:</p>
                    <a target="_blank" href="https://www.facebook.com/anamaria.teran.18"> <i
                            class="fab fa-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/pinturasanushka/?hl=es-la"> <i
                            class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.pinterest.pt/teran3075/"> <i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </section>
        <section class="footer-contacto">
            <div class="footer-contacto__items">
                <i class="far fa-copyright"> <a href="./views/404.html">Ana Teran Cuadros</a></i>
            </div>
            <div class="footer-contacto__items">
                <i class="far fa-envelope"> <a
                        href="mailto:anitamariateran@gmail.com?subject=Contacto%20a%20trav%C3%A9s%20de%20la%20pagina">anitamariateran@gmail.com</a></i><br>
            </div>
            <div class="footer-contacto__items">
                <i class="fab fa-whatsapp"> <a target="_blank" href="https://wa.me/5491163536709">+54 9 11 6353-6709</a>
                </i> <br>
            </div>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>